/* font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;*/


  body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
  }

  /* reset */
  
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
/* common */

.container{
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
}

 .section-title{
  max-width: 218px;
  margin: 0 auto -50px;
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
  margin-bottom: 72px;
  display: flex;
 }


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}



/* header */

.header-logo .logo-part{
color:#2e2f42;
}
.header-logo{
  margin-right: 76px;
  padding: 24px 0;
}
.page-header{
  border-bottom: 1px solid #e7e9fc;
}
header-container{
display: flex;
align-items: center;
}
.header-nav{
  display: flex;
  align-items: center;
}
.nav-list{
  display: flex;
  align-items: center;
  gap:40px;
}
.contacts-list{
  display: flex;
  align-items: center;
  gap: 40px;

}

.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
  color: #404bbf;
}
.contacts{
  font-style: normal;
  margin-left: auto;
}
.contacts-link{
  display: block;
  padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* footer */

.page-footer{
  background-color: #2e2f42;
}
.footer-logo .logo-part{
color:#f4f4fd;}

.footer-logo{
  margin-bottom: 16px;
}
.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

/* section 1 */

.hero-section{
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-container{
 max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.headline-text {
  max-width: 496px;
  margin: 0 auto 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.button-box {
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  background-color: var(--accent-color, #4d5ae5);
  border-radius: 4px;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button-box:hover,
.button-box:focus {
  background-color: #404BBF;
}

/* section 2 */

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0, 0, 0, 0);
   overflow: hidden;
 }

.advantages-section {
  padding: 120px 0; 
}

.advantages-list {
  display: flex; 
  gap: 24px;     
  padding: 0;
  margin: 0;
  list-style: none;
  
}

.advantages-item {
  flex-basis: calc((100% - 3 * 24px) / 4); 
  width: 264px;
}

.advantages-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px; 
}

.advantages-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: left;



}

/* section 3 */

.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
  margin: 0 auto;
}

.text-title-team-section{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
  margin-bottom: 72px;
  display: flex;
  align-items: center;
}

.team-list {
  display: flex;   
  gap: 24px;            
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;    /* elements stay on the same line, do not transfer to the secound row */
  justify-content: center;     
}

.team-item {
  text-align: center;
flex-wrap: wrap;
  flex-basis: calc((100% - 3 * 24px) / 4); 
  border-radius: 0 0 4px 4px;            
  background-color: #ffffff;
  width: 264px;       c
  height: 380px;       
  padding: 0px 0px 32px;  
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-set{     /*not used*/
display: flex;
flex-wrap: wrap;
border-radius: 0 0 4px 4px;            
  background-color: #ffffff;
  width: 264px;       c
  height: 380px;       
  padding: 0px 0px 32px;  
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}



.team-names-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;    
  margin-bottom: 8px;   
}

.team-info {
  padding: 32px 0;     
  text-align: center;
}

.team-position-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
    text-align: center; 
}



/* section 4 */

.portfolio-section {

  --items: 3;

  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.text-title-portfolio-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 72px;
  
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap; 
  column-gap: 24px; 
  row-gap: 48px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-item {

  flex-basis: calc((100% - 48px) / 3); 
  background-color: #ffffff;
  border-radius: 4px;
  gap:24px;
  width: 360px;
height: 420px;
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}

.portfolio-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}

.portfolio-category-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}


/* footer */

.page-footer{
   padding: 100px 0;
  background-color: #2e2f42;
  align-items: center;
}
.footer-logo{
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
  }

  .footer-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
} 